<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WINE-QUALITY PROJECT BY RAKSHITA</title>
    <style>
      body {
           background-color:#fff5;
           background-image: url('https://cdn.glitch.global/9fa72a6c-3b8a-4e09-a346-dca87f0acb0e/aiml8.jpeg?v=1721059709121');
           background-size: cover;
           background-repeat: no-repeat;
           background-attachment: fixed;
           background-position: center;
/*            fliter:blur(10px); */
          } 
    </style>
</head>
  
  <body>
    
    <h1 align="center" style="color:white;">
      <u>RED WINE QUALITY PREDICTOR MODEL</u>
    </h1>
    <br>
    <br>
    <center>
    <img src="https://cdn.glitch.global/9fa72a6c-3b8a-4e09-a346-dca87f0acb0e/aiml7.jpeg?v=1721057084077">
    <br>
    <br>  
    <a href="project">
    <h3 style="color:white;">
      CLICK TO VIEW THE PROJECT
       </h3>
      </a>
    </center>
   
  </body>
</html>
